---
import BaseLayout from "../../layouts/base.astro";
import Content from "../../components/Content.astro";
import GalleryItem from "../../components/GalleryItem.astro";

import fotoalbumsData from "../../_content/fotoalbums.json";

type Album = {
	slug: string;
	title: string;
	coverImage: string;
};

type YearGroup = {
	year: number;
	title?: string;
	albums: Album[];
};

const data = fotoalbumsData as YearGroup[];
---

<BaseLayout title="Fotoalbums">
	<Content title="Fotoalbums">
		{data.map((yearGroup) => (
			<>
				<h2 id={`year-${yearGroup.year}`}>{yearGroup.year}</h2>
				<div class="gallery__list">
					{yearGroup.albums.length > 0 ? (
						yearGroup.albums.map((album) => (
							<GalleryItem
								href={`/fotoalbums/${yearGroup.year}/${album.slug}`}
								title={album.title}
								coverImage={album.coverImage}
							/>
						))
					) : (
						<p>{yearGroup.title || `Nog geen fotoalbums voor ${yearGroup.year}.`}</p>
					)}
				</div>
			</>
		))}
	</Content>
</BaseLayout>

<style>
	.gallery__list {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;

		margin-right: -0.5rem;
		margin-bottom: 3rem;
		margin-left: -0.5rem;
	}
</style>
