---
import fg from "fast-glob";
import BaseLayout from "./base.astro";
import Content from "../components/Content.astro";
import PhotoalbumImage from "../components/PhotoalbumImage.astro";

export type gallery = {
	year: number;
	name: string;
	fullName: string;
	metadata: string;
	images: string[];
};

const galleryYears = await fg("src/pages/fotoalbums/*", {
	objectMode: true,
	onlyDirectories: true,
});
const activitiesPerYear = await Promise.all(
	galleryYears.map(async (yearObj) => {
		const year = yearObj.name;
		const activities = await fg(`src/pages/fotoalbums/${year}/*`, {
			objectMode: true,
			onlyDirectories: true,
		});
		const imagesPerActivity = await Promise.all(
			activities.map(async (activity) => {
				const images = await fg(
					`src/pages/fotoalbums/${year}/${activity.name}/*`,
					{ objectMode: true }
				);

				return {
					[activity.name]: images.map((image) => image.name),
				};
			})
		);

		return activities.map((activity) => {
			let [name, metadata] = activity.name.split("__");

			name = name.trim();

			if (metadata) {
				metadata = metadata.trim();
			}

			const img = imagesPerActivity.find((act) => {
				const [key] = Object.keys(act);

				return key === activity.name;
			});

			return {
				year,
				name,
				fullName: activity.name,
				metadata,
				images: img[activity.name],
			};
		});
	})
);

const { frontmatter } = Astro.props;

const filterByYear = (array: any, year: any) => {
	return array.filter((v: any) => v.year === `${year}`);
};
---

<BaseLayout title={frontmatter?.title}>
	<Content title={frontmatter?.title} visual={frontmatter?.visual}>
		<slot />

		{
			galleryYears.reverse().map(({ name: year }) => (
				<>
					{
						!!filterByYear(activitiesPerYear.flat(), year).length &&
							<h2 id={`year-${year}`}>{year}</h2>
							<div class="gallery__list">
								{filterByYear(activitiesPerYear.flat(), year).map(
									(activity: any) => (
										<a
											href={`/fotoalbums/${year}/${activity.name}`}
											class="gallery__list-item"
										>
											<div class="gallery__list-item__title">
												<h3>{activity.name}</h3>
											</div>

											<div class="gallery__list-item__img">
												<PhotoalbumImage
													src={`../pages/fotoalbums/${activity.year}/${activity.fullName}/${activity.images[0]}`}
													alt=""
													width="250"
													aspectRatio="4:3"
												/>
											</div>
										</a>
									)
								)}
							</div>
					}
				</>
			))
		}
	</Content>
</BaseLayout>

<style>
	.gallery__list {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;

		margin-right: -0.5rem;
		margin-bottom: 3rem;
		margin-left: -0.5rem;
	}

	.gallery__list-item__img {
		filter: blur(2px);
	}

	.gallery__list-item {
		position: relative;
		display: block;

		overflow: hidden;

		width: 100%;
		height: 155px;

		margin: 0.5rem;

		&:hover .gallery__list-item__title {
			background-color: rgba(245, 155, 30, 0.2);
			border: 2px solid var(--color-yellow);
		}
	}

	.gallery__list-item__title {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;

		display: flex;
		align-items: center;
		justify-content: center;

		text-align: center;
		text-shadow: 0 0 7px var(--color-true-black);

		background-color: rgba(0, 0, 0, 0.2);
	}

	.gallery__list-item__title h3 {
		padding: 0 1rem;

		color: var(--color-white);
		font-size: var(--font-size-l);
	}

	@media (min-width: 30rem) {
		.gallery__list-item {
			width: 210px;
			height: 155px;
		}
	}
</style>
