---
import BaseLayout from "./base.astro";
import Content from "../components/Content.astro";

const verenigingenFiles = import.meta.glob("../pages/verenigingen/*.{md,mdx}", { eager: true });
const verenigingen = Object.entries(verenigingenFiles)
	.map(([path, module]: [string, any]) => ({
		...module,
		url: path.replace('../pages', '').replace('.md', '').replace('.mdx', ''),
	}))
	.sort((a, b) => a.frontmatter.title.localeCompare(b.frontmatter.title));

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter?.title}>
	<Content title={frontmatter?.title} visual={frontmatter?.visual}>
		<slot />

		<h2>Onze verenigingen</h2>

		<ul>
			{
				verenigingen.map(({ frontmatter, url, Content }) => (
					<li>
						<a href={url}>{frontmatter.title}</a>
					</li>
				))
			}
		</ul>
	</Content>
</BaseLayout>
